<apex:page showHeader="false" sidebar="false" controller="LiveAgentPageController">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <apex:slds />

    <style>
        /*.float-r{
            float: right;
        }
        #liveagent-btn, #liveagent-offline, #form-btn{
            background: none;
            box-shadow: 0 34px 94px 0 rgba(255, 255, 255, 0.89) inset, 0 3px 10px hsla(100, 0%, 0%, 0.3);
            padding: 4px;
            border: 1px solid #c3c3c3;
            width: 170px;
        }
        #liveagent-offline{
            font-size: 0.9em;
            font-weight: bold;
            margin: 1px;
            padding: 2px 3px;
            box-shadow: none;
        }
        #liveagent-btn:hover, #form-btn:hover{
            cursor: pointer;
            border-color: #636363;
        }
        #description{
            min-width: 300px;
            min-height: 130px;
        }
        .success-support{
            display: inline-block;
            padding: 3px;
            float: right;
        }
        .success-support p{
            margin-top: 7px;
            margin-bottom: 7px;
        }
        .success-support-header{
            font-size: 24px;
            margin-left: 20px;
            margin-top: 20px;
        }
        .success-support-subheader{
            font-size: 14px;
            margin-top: 0;
        }
        .success-support-contact-info{
            font-size: 16px;
        }
        span.cb{
            color: rgb(48,135,205);
        }
        #panel-container, #panel-container p, #panel-container button, #panel-container input, #panel-container span, #panel-container div{
            font-family: Arial, Helvetica, sans-serif;
        }
        #section-container{
            float: left;
            width: 50%;
            box-sizing: content-box;
        }
        
        #liveagent-container{
            float: left;
            width: 50%;
            text-align: center;
            position: relative; 
        }
        
        #liveagent-container-inner{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            left: 20%;
        }
        div.pbHeader, div.pbHeader td.pbButton span.success-support{
            display: none;
        }
        #form-container{
            display: none;
            width: 50%;
            margin: 0 auto;
        }
        .form-buttons{
            display: none;
        }
        [id$=confirm-message], [id$=error-message]{
            display: none;
            width: 100%;
        }
        strong{
            font-size: 13px;
        }
        
        #panel-container {
            display: flex;
            width: 100%;
            margin-top: 20px;
        }
        textarea{
            resize: none;
        }
        .bPageBlock{
            border:1px solid #dbdbdb!important;
        }
        #form-btn{
            position: relative;
            left: 30%;
            margin-left: -85px;
        }*/
    </style>

     <style>
        .float-r{
            float: right;
        }
        #liveagent-btn, #liveagent-offline, #form-btn{
            background: none;
            box-shadow: 0 34px 94px 0 rgba(255, 255, 255, 0.89) inset, 0 3px 10px hsla(100, 0%, 0%, 0.3);
            padding: 4px;
            border: 1px solid #c3c3c3;
            width: 170px;
            display: block;
            margin: 0 auto;
        }
        #liveagent-offline{
            font-size: 0.9em;
            font-weight: bold;
            padding: 2px 3px;
            box-shadow: none;
        }
        #liveagent-btn:hover, #form-btn:hover{
            cursor: pointer;
            border-color: #636363;
        }
        #description{
            min-width: 300px;
            min-height: 130px;
        }
        .success-support{
            display: inline-block;
            padding: 3px;
            float: right;
        }
        .success-support p{
            margin-top: 7px;
            margin-bottom: 7px;
        }
        .success-support-header{
            font-size: 24px;
            margin-left: 20px;
            margin-top: 20px;
        }
        .success-support-subheader{
            font-size: 14px;
            margin-top: 0;
        }
        .success-support-contact-info{
            font-size: 16px;
        }
        span.cb{
            color: rgb(48,135,205);
        }
        #panel-container, #panel-container p, #panel-container button, #panel-container input, #panel-container span, #panel-container div{
            font-family: Arial, Helvetica, sans-serif;
        }
        #section-container{
            float: left;
            width: 100%;
            box-sizing: content-box;
            margin-bottom: 15px
        }
        
        #liveagent-container{
            float: left;
            width: 100%;
            text-align: center;
        }
        
        #liveagent-container-inner{
            display: block;
        }
        div.pbHeader, div.pbHeader td.pbButton span.success-support{
            display: none;
        }
        #form-container{
            display: none;
            width: 100%;
            margin: 0 auto;
            margin-top: 20px
        }
        
         #form-container2{
            margin-top: 20px
        }
        
        .form-buttons{
            display: none;
        }
        [id$=confirm-message], [id$=error-message]{
            display: none;
            width: 100%;
        }
        strong{
            font-size: 13px;
        }
        
        #panel-container {
            width: 100%;
            margin-top: 20px;
        }
        textarea{
            resize: none;
        }
        .bPageBlock{
            border:1px solid #dbdbdb!important;
        }
        #form-btn{
        }
        div#section-container, #liveagent-container-inner {
            margin-top: 2em;
        }
        .pbSubsection{
            padding:0!important;
            margin:0!important;
        }
    </style>
    
    <script src='https://c.la2w2.salesforceliveagent.com/content/g/js/37.0/deployment.js'></script>
    <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
    <apex:includeScript value="https://code.jquery.com/jquery-2.1.4.js"/>
    
    <script>
           
        (function($){
            $( document ).ready( function(){
                var data = new Date();
                var hour = data.getHours();
                var dayWeek = data.getDay(); 
                
                liveagent.setName('{!userName}');
                liveagent.addCustomDetail('Empresa ', 'Audi');
                liveagent.addCustomDetail('ID do usuário ', '{!idUserToURL}');
                liveagent.addCustomDetail('Email do usuário ', '{!emailUser}');
                
                liveagent.findOrCreate('Contact').map('Email do usuário', 'Email', true, false, false);
                
                if ((dayWeek >= 1 && dayWeek <= 5) && (hour >= 08 && hour < 17))
                    liveagent.init( 'https://d.la2w2.salesforceliveagent.com/chat', '5720a000000XZD6', '00Dj0000001mv3u' );
            
                if( !window._laq ){
                    window._laq = []; 
                }

                window._laq.push( function(){
                    liveagent.showWhenOnline( '5730a000000XZDn', document.getElementById( 'liveagent-btn' ) );
                    liveagent.showWhenOffline( '5730a000000XZDn', document.getElementById( 'liveagent-offline' ) );
                } );

                function toPanel(){
                    $( '#panel-container' ).slideDown();
                    $( '#form-container' ).slideUp();
                    $( '.form-buttons' ).fadeOut();
                }

                function toForm(){
                    $( '#panel-container' ).slideUp();
                    $( '#form-container' ).slideDown();
                    $( '.form-buttons' ).fadeIn();
                }

                $( document ).on( 'click', '.cancel-buttons', toPanel );

                $( '#liveagent-container' ).height( $( '#section-container' ).height );

                $( document ).on( 'click', '#liveagent-btn', function(){
                    liveagent.startChat( '5730a000000XZDn' );
                } );

                $( document ).on( 'click', '#form-btn', toForm );

                $( '#case-form' ).submit( function(){
                    var error = false;
                    $( this ).find( 'input[type=text], select, textarea' ).each( function(){
                        if( ($( this ).is( 'select' ) && !$( this ).find( 'option:selected' ).attr( 'value' )) || !$( this ).val() ){
                            console.log( this );
                            console.log( $( this ).val() );
                            $( "[id$=error-message]" ).slideDown();
                            $( "[id$=confirm-message]" ).slideUp();
                            error = true;
                            return false;
                        }
                    } );

                    if( error ) return false;
                    
                    $( "[id$=confirm-message], [id$=error-message]" ).slideUp();
                    $( '.form-buttons' ).fadeOut();
                    submitForm( $( this ).serialize() );

                    return false;
                } );

                window.submitCallBack = function(){
                    $( '[id$=confirm-message]' ).slideDown();
                        setTimeout( function(){
                            $( '[id$=confirm-message]' ).slideUp();  
                            toPanel();
                            $( '#case-form input[type=text], select, textarea' ).each( function(){
                                if( $( this ).is( '#name, #email' ) ) return;
                                else $( this ).val( '' );
                            } );
                        }, 3000 );
                };

                $( 'select option:not([value])' ).attr( 'value', '' );

            } );
        })(jQuery.noConflict());
    </script>

    <apex:form >
            <apex:actionFunction action="{!submitForm}" name="submitForm" oncomplete="submitCallBack();">
                <apex:param name="serializedForm" assignTo="{!serializedForm}" value=""/>
            </apex:actionFunction>
    </apex:form>
    <form action="" method="POST" id="case-form" >
        <apex:pageBlock mode="edit" rendered="true">
            <apex:pageBlockButtons >
                <input type="submit" name="submit" class="btn form-buttons" value="Enviar" />
                <input type="button" name="cancel" class="btn cancel-buttons form-buttons" value="Cancelar" />
                
            </apex:pageBlockButtons>

            <input type="hidden" name="orgid" value="{!orgId}" />
            <apex:pageMessage title="Sucesso!" summary="Sua mensagem foi enviada. Entraremos em contato assim que possível" severity="confirm" strength="3" id="confirm-message"/>

            <apex:pageMessage title="Erro!" summary="Favor preencha todos os campos e tente novamente!" severity="error" strength="3" id="error-message"/>


            <div id="panel-container">
                               
                <div id="liveagent-container">
                    <div id="liveagent-container-inner">
                        <button type="button" style="display:none" id="liveagent-btn">
                            <img src="{!URLFOR($Resource.logo, 'img/chaton.png')}" alt="logo chat online" class="liveagent-image" />
                            <p> Clique aqui</p>
                            <p><strong>Chat Online</strong></p>
                        </button>
                        <div id="liveagent-offline">
                            <img src="{!URLFOR($Resource.logo, 'img/mail.png')}" class="liveagent-image" title="No momento estamos offline" alt="chat offline success support" />
                            <p>Chat Offline</p>
                        </div>
                    </div>
                </div>

                <div id="section-container">
                    <button type="button" id="form-btn">
                        <img src="{!URLFOR($Resource.logo, 'img/mail.png')}" />
                        <p>Clique aqui</p>
                        <p><strong>Dúvidas ou problemas?</strong></p>
                    </button>
                </div>

            </div>
            
            <div id="form-container2" align="center" >
                <b><p>Segunda à sexta | 08h - 17h | suporte@audi.kolekto.com.br</p></b>
                <br></br><img src="https://audi.force.com/dealer/resource/logo/img/kolektosupport.png" title="No momento estamos offline" alt="kolekto support" />   
            </div>

            <div id="form-container">
                <apex:pageBlockSection columns="1">
    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel styleClass="slds-form-element__label" for="name" value="Nome"/>
                        <apex:outputPanel >
                            <input class="slds-input" id="name" maxlength="80" name="name" size="20" type="text" value="{!$User.FirstName + ' ' + $User.LastName}" />
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel styleClass="slds-form-element__label" for="email" value="Email"/>
                        <apex:outputPanel >
                            <input class="slds-input" id="email" maxlength="80" name="email" size="20" type="text" value="{!$User.Email}" />
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel styleClass="slds-form-element__label" for="type" value="Tipo"/>
                        <apex:outputPanel >
                            <select class="slds-select" id="type" name="type">
                                <option value="">Escolha uma opção</option>
                                <option value="Dúvida">Dúvida</option>
                                <option value="Manutenção">Requisição</option>
                                <option value="Problema">Problema</option>
                                <option value="Melhoria">Sugestão</option>
                            </select>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
    
                    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel styleClass="slds-form-element__label" for="subject" value="Assunto"/>
                        <apex:outputPanel >
                            <input class="slds-input" id="subject" maxlength="80" name="subject" size="20" type="text" />
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel styleClass="slds-form-element__label" for="description" value="Descrição"/>
                        <apex:outputPanel >
                            <textarea class="slds-textarea" name="description" id="description"></textarea>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
    
                </apex:pageBlockSection>
                <br></br>**Todos os campos são obrigatórios.
            </div>

            <input type="hidden" id="status" name="status" value="Open" />
            <input type="hidden" id="priority" name="priority" value="Média" />
            <input type="hidden" id="recordType" name="recordType" value="0120a0000015HcQ"/>
            <input type="hidden" id="external" name="external" value="1" />
        </apex:pageBlock>
        
    </form>

</apex:page>